body {
    margin: 0;
    padding: 0;
    background-color: rgb(228, 228, 228);
}
/**
#-----------------------------------#
#          ТЕЛЕГРАМ СТИЛИ           #            
#-----------------------------------#
**/
.telegram-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    background-color: #0088cc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    z-index: 9999;
}

.telegram-button:hover {
    transform: scale(1.1);
}

.telegram-button img {
    width: 40px;
    height: 40px;
}